---
name: CI
on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  project:
    name: Project Checks
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v2.8
      - name: Install Kustomize
        uses: imranismail/setup-kustomize@v2
      - name: Install Policy Generator
        run: |
          GOBIN=${HOME}/.config/kustomize/plugin/policy.open-cluster-management.io/v1/policygenerator \
          go install open-cluster-management.io/policy-generator-plugin/cmd/PolicyGenerator@v1.17.1
      - name: Build
        run: make build
      - name: Run unit tests
        run: make test
      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          breaking: false
